.basket-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}

.basket-item__image {
  width: 105px;
  height: 120px;
  object-fit: cover;
  border-radius: 12px;
}

.basket-item__info {
  flex-grow: 1;
}

.basket-item__info-h2 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.basket-item__info-p {
  color: #807d7e;
  font-size: 1rem;
  margin: 0 0 0.5rem;
}

.basket-item__price {
  font-size: 1.2rem;
  font-weight: 500;
  min-width: 140px;
}

.btn-delete {
  background-color: transparent;
  color: #8a33fd;
  border: none;
  cursor: pointer;
}

.btn-delete:hover {
  color: #5b1f9d;
}

.basket-item__quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  border-radius: 12px;
  overflow: hidden;
}

.quantity-button {
  background-color: #f6f6f6;
  color: #3c4242;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  width: 30px;
  height: 35px;
  text-align: center;
}

.quantity-button:hover {
  font-weight: 700;
}

.basket-item__quantity input[type='number'] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  text-align: center;
  border: none;
  background-color: #f6f6f6;
  color: #3c4242;
  height: 35px;
  line-height: 35px;
  font-size: 1.2rem;
}

/* Chrome, Safari, Edge, Opera */
.basket-item__quantity input[type='number']::-webkit-outer-spin-button,
.basket-item__quantity input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.basket-table__empty {
  text-align: center;
  color: #a7a7a7;
}
